{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<h1>panier</h1>
    {% for i, produit in nouveau_panier %}
    
    <div>
        {{ produit.title }}
        {{ panier[produit.id] }}
    </div>
    {% endfor %}

{% endblock %}
